pkgbase = nxgterm-bin
	pkgdesc = Fast, configurable, cross-platform terminal emulator (prebuilt binary)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/NexuraGrid/nxgterm
	arch = x86_64
	arch = aarch64
	license = MIT OR Apache-2.0
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libxkbcommon
	optdepends = wayland: Wayland support
	optdepends = libx11: X11 support
	optdepends = libxcursor: X11 cursor themes
	optdepends = libxi: X11 input
	optdepends = libxrandr: X11 scaling
	optdepends = libxkbcommon-x11: X11 keyboard layouts
	optdepends = vulkan-icd-loader: GPU renderer (Vulkan)
	optdepends = libglvnd: GPU renderer (OpenGL ES)
	provides = nxgterm
	conflicts = nxgterm
	source_x86_64 = https://github.com/NexuraGrid/nxgterm/releases/download/v0.4.0/nxgterm-0.4.0-x86_64-linux.tar.gz
	sha256sums_x86_64 = defb1063d050d3a99d01230f36681427a19a48b630c45a16aae10048af34ebd8
	source_aarch64 = https://github.com/NexuraGrid/nxgterm/releases/download/v0.4.0/nxgterm-0.4.0-aarch64-linux.tar.gz
	sha256sums_aarch64 = 448d96b788203a9b50e652440275e77d5eeb14e8ac183433e0857f919304f86a

pkgname = nxgterm-bin
