pkgbase = nxgterm-bin
	pkgdesc = Fast, configurable, cross-platform terminal emulator (prebuilt binary)
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/NexuraGrid/nxgterm
	arch = x86_64
	arch = aarch64
	license = MIT OR Apache-2.0
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libxkbcommon
	optdepends = wayland: Wayland support
	optdepends = libx11: X11 support
	optdepends = libxcursor: X11 cursor themes
	optdepends = libxi: X11 input
	optdepends = libxrandr: X11 scaling
	optdepends = libxkbcommon-x11: X11 keyboard layouts
	optdepends = vulkan-icd-loader: GPU renderer (Vulkan)
	optdepends = libglvnd: GPU renderer (OpenGL ES)
	provides = nxgterm
	conflicts = nxgterm
	source_x86_64 = https://github.com/NexuraGrid/nxgterm/releases/download/v0.7.0/nxgterm-0.7.0-x86_64-linux.tar.gz
	sha256sums_x86_64 = 1c82d63ab930978f2c19a2e03d7f6b81f69e1dae482b068eced5a5fd2276f443
	source_aarch64 = https://github.com/NexuraGrid/nxgterm/releases/download/v0.7.0/nxgterm-0.7.0-aarch64-linux.tar.gz
	sha256sums_aarch64 = f0cca46760cb538e3eb51a10a4b82c6ffaf59c5e3919fad272ea2d36569f7522

pkgname = nxgterm-bin
