pkgbase = nxgterm-bin
	pkgdesc = Fast, configurable, cross-platform terminal emulator (prebuilt binary)
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/NexuraGrid/nxgterm
	arch = x86_64
	arch = aarch64
	license = MIT OR Apache-2.0
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libxkbcommon
	optdepends = wayland: Wayland support
	optdepends = libx11: X11 support
	optdepends = libxcursor: X11 cursor themes
	optdepends = libxi: X11 input
	optdepends = libxrandr: X11 scaling
	optdepends = libxkbcommon-x11: X11 keyboard layouts
	optdepends = vulkan-icd-loader: GPU renderer (Vulkan)
	optdepends = libglvnd: GPU renderer (OpenGL ES)
	provides = nxgterm
	conflicts = nxgterm
	source_x86_64 = https://github.com/NexuraGrid/nxgterm/releases/download/v0.5.0/nxgterm-0.5.0-x86_64-linux.tar.gz
	sha256sums_x86_64 = 4dbf508e0c215dfa5971aee1724202755e8d3e8a5519c0033be254e2bdea5776
	source_aarch64 = https://github.com/NexuraGrid/nxgterm/releases/download/v0.5.0/nxgterm-0.5.0-aarch64-linux.tar.gz
	sha256sums_aarch64 = 7c4c2a5495bdf7e8c482fe43cd23e31969be1b46978783f66ec009efff0d1f42

pkgname = nxgterm-bin
